.env
*.log
.DS_Store
traccar/logs/
traccar/conf/traccar.xml
traccar/web/app.css
traccar/web/favicon.ico
traccar/web/icon.png
traccar/web/logo.svg
traccar/web/release.html
traefik/acme.json
traefik/traefik.toml
traefik/traefik_https.toml
traccar/templates
